.glav {
    width: 1100px;
    height: 600px;
    background-color: grey;
    position: relative;
    left: 200px;
    

}

.one, .two , .three , .four {
    width: 150px;
    height: 500px;
    border: 1px solid rgb(13, 11, 11);
    background-color: yellow;
}

.one {
    position:absolute;
    left: 100px;
}
.two {
    position: absolute;
    left: 300px;
}
.three {
    position: absolute;
    left: 500px;
}

.four {
    position: absolute;
    left: 700px;
}